# This is _NOT_ a reusable workflow, but rather the renovate run for this repo itself.
name: Validate renovate config
on:
  push:
    branches:
      - main
    paths:
      # When renovate config changes:
      - "renovate.*"
      - ".renovate.*"
      - ".github/renovate.*"
      # Also when renovate version changes:
      - ".github/workflows/*"
      # For this repo specifically, also when actions themselves change.
      - "actions/renovate**"
      - "presets/**"
  pull_request:
    paths:
      # When renovate config changes:
      - "renovate.*"
      - ".renovate.*"
      - ".github/renovate.*"
      # Also when renovate version changes:
      - ".github/workflows/*"
      # For this repo specifically, also when actions themselves change.
      - "actions/renovate**"
      - "presets/**"

permissions:
  contents: none
  packages: none

jobs:
  validate:
    permissions:
      # Needed for logging into vault.
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Validate renovate config
        uses: ./actions/renovate-validate
        with:
          config: presets/*.json*
